@using WebApp.Models
@model Singer 
 <table class="table table-hover table-condensed">
        <caption>
            <strong>  Popular singers</strong>
        </caption>
       <thead>
             <tr>
                <td class='artist_name' colspan="2"><p>Singers</p></td>
                <td ><p>Count songs</p></td>
                <td><p>Count views</p></td>
            </tr>
        </thead>
         @using (Html.BeginForm("Singer", "Home", FormMethod.Get))
         {
            foreach (var s in ViewBag.Singers)
            {
                <tr>
                    <td><img src="@Url.Content(s.Picture)" /></td>
                    <td class='artist_name'>
                    @Html.ActionLink((string)@s.Name, "Singer", "Home" , routeValues: new { id = (int)@s.Singerid }, htmlAttributes: null)</td>
                    <td>@s.CountSongs</td>
                    <td>@s.CountViews</td>
                </tr>
                }
            }
    </table>
