    <table>
        <tr>
            <td><p>Singers</p></td>
            <td><p>Count songs</p></td>
            <td><p>Count views</p></td>
        </tr>
        @foreach (var s in ViewBag.Singers)
        {
            <tr>
                <td><img src="@Url.Content(s.Picture)" /></td>
                <td>@s.Name</td>
                <td>@s.CountSongs</td>
                <td>@s.CountViews</td>
            </tr>
        }
    </table>
