    <table class="table table-hover">
       <thead>
             <tr>
                <td class='artist_name' colspan="2"><p>Singers</p></td>
                <td ><p>Count songs</p></td>
                <td><p>Count views</p></td>
            </tr>
        </thead>
        @foreach (var s in ViewBag.Singers)
        {
            <tr>
                <td><img src="@Url.Content(s.Picture)" /></td>
                <td class='artist_name'><a>@s.Name</a></td>
                <td>@s.CountSongs</td>
                <td>@s.CountViews</td>
            </tr>
        }
    </table>
