@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @using (Html.BeginForm("UpdateTop", "Home", FormMethod.Get))
    {
    <input type="submit" value="Обновить" class="btn btn-default" />
    }
    <div id="container">
        @Html.Partial("SingersList")
    </div>
</div>

