<table>
    <tr>
        <td><p>Photo</p></td>

    </tr>
    @foreach (var s in ViewBag.Singers)
    {
        <tr>
            <td><img src="@Url.Content(s.Picture)"/></td>
        </tr>
    }
</table>

