
@{
    ViewBag.Title = "Song";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model WebApp.Models.SuiteСhord
        <br />
        <p>Song : @Model.Name</p>
        <p>@Model.CountViews Count Views</p>
        <p>Singer: @Model.Singer.Name</p>
        <pre>@Model.Text</pre>
