
@{
    ViewBag.Title = "Song";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<WebApp.Models.SuiteСhord>
<script src="~/Scripts/ajaxSender.js"></script>
<div class="carousel-inner" role="listbox">
    <div class="item active">
        @{Html.RenderAction("OneSong", "Song", new { suiteChordId = (int)ViewBag.suiteChordId });}
    </div>
</div>
@if (ViewBag.CurrentId > 0)
{
    @Ajax.ActionLink("OneSong", "Song", new { suiteChordId = ViewBag.Prev }, new AjaxOptions());
}
@if (ViewBag.Next < ViewBag.Count)
{
    @Html.ActionLink("Next", "Navigation", "Song", new { suiteChordId = (int)ViewBag.Next, idDB = (int)ViewBag.DB }, null)

}