
@{
    ViewBag.Title = "Song";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using WebApp.Models
@using Newtonsoft.Json
@model WebApp.Models.SuiteСhord

<div class="carousel-inner" role="listbox">
    <div id="SongId" class="item active">
        @Html.Partial("PartialSong", Model)
    </div>
</div>
<div>
    @using (Ajax.BeginForm("Navigation", new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "SongId" }))
    {
        <input type="hidden" id="id" name="id" value="@ViewBag.DBId" />
        <input type="hidden" id="CurrentPage" name="CurrentPage" value="@ViewBag.CurrentPage" />
        <input type="hidden" id="LastPage" name="LastPage" value="@ViewBag.Last" />
    }
    <input class="btn btn-primary" type="button" id="Previous" value="Previous" onclick="first()" />
    <input class="btn btn-primary" type="button" id="Next" value="Next" onclick="first()" />
</div>